[Desktop Entry]
Type=Application
Name=Files
Comment=File browser
Exec=cce-files
Icon=cce-files
Categories=System;FileManager;
Terminal=false
StartupWMClass=cce-files
