[Desktop Entry]
Type=Application
Name=Files
Comment=File browser
Exec=cce-files %f
Icon=cce-files
Categories=System;FileTools;FileManager;
Terminal=false
StartupNotify=true
StartupWMClass=cce-files
MimeType=inode/directory;
